industrial_insights/home/__pycache__/
industrial_insights/home/migrations/__pycache__/
industrial_insights/industrial_insights/__pycache__/
industrial_insights/goem/__pycache__/
industrial_insights/goem/migrations/__pycache__/