{% extends 'base_cookie_plant.html' %}
{% load static %}
{% block content %}

  <div class="content">
        <div class="pb-5">
          <div class="row g-4">

            <!-- header start -->
            <div class="col-12">
              <div class="mb-8">
                <h2 class="mb-2">Eficiencia Energética de Consumo de Gas del Turno Actual</h2>
                <h5 id="date_field" class="text-body-tertiary fw-semibold">4 de Mayo de 2024</h5>
              </div>

              <!-- header data - start -->
              <div class="row align-items-center g-4">
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-battery-full text-warning" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_gas_consumption_field" class="mb-0">0.0 m3</h4>
                      <p class="text-body-secondary fs-9 mb-0">Gas consumido</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-lightbulb text-info" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_reference_gas_consumption_field" class="mb-0">0.0 m3</h4>
                      <p class="text-body-secondary fs-9 mb-0">Gas referencia de consumo</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-bolt text-info" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_standard_gas_consumption_field" class="mb-0">0.0 m3</h4>
                      <p class="text-body-secondary fs-9 mb-0">Gas estándar de consumo</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-bolt text-danger" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_gas_overconsumption_field" class="mb-0">0.0 m3</h4>
                      <p class="text-body-secondary fs-9 mb-0">Sobreconsumo de gas</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-coins text-info" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_m3_price_field" class="mb-0">0 COP</h4>
                      <p class="text-body-secondary fs-9 mb-0">Precio m3</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-dollar-sign text-warning" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_gas_cost_field" class="mb-0">0 COP</h4>
                      <p class="text-body-secondary fs-9 mb-0">Costo consumo de gas</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-exclamation-circle text-danger" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_gas_energy_cost_overrun_field" class="mb-0">0 COP</h4>
                      <p class="text-body-secondary fs-9 mb-0">Sobrecosto de gas</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span data-fa-transform="down-4 rotate--10 left-4"></span><span data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-chart-line text-warning" data-fa-transform="shrink-2 up-8 right-6 grow-10"></span></span>
                    <div class="ms-3">
                      <h4 id="last_gas_consumption_index_field" class="mb-0">0 m3/und</h4>
                      <p class="text-body-secondary fs-9 mb-0">Índice de consumo</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- header data - end -->

              <!-- línea de división - start -->
              <hr class="bg-body-secondary mb-6 mt-2">
              <!-- línea de división - end -->
            </div>
            <!-- header end -->

            <div class="col-12 col-xxl-12">
              <div class="row g-3">

                <!-- Eficiencia energética start -->
                <div class="col-12 col-md-6 col-xxl-5">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5 class="mb-1">Eficiencia energética</h5>
                          <h6 class="text-body-tertiary">Turno actual</h6>
                        </div>
                        <h4></h4>
                      </div>
                      <div class="pb-0 pt-4">
                        <div id="eficiencia" style="height: 200px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Eficiencia energética end -->

                <!-- Trend eficiencia energética start -->
                <div class="col-12 col-md-6 col-xxl-7">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5 class="mb-1">Tendencia eficiencia energética</h5>
                          <h6 class="text-body-tertiary">Turno actual</h6>
                        </div>
                      </div>
                      <div class="pb-0 pt-4">
                        <div id="trend_eficiencia"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Trend eficiencia energética end -->

              </div>
            </div>

            <div class="col-12">
              <div class="row g-3">

                <div class="col-12 col-md-6 col-xxl-5">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5 class="mb-1">Consumo energético</h5>
                          <h6 class="text-body-tertiary">Gas consumido vs estándar</h6>
                        </div>
                      </div>
                      <div class="pb-0 pt-4">
                        <div id="energy_consumption"></div>
                      </div>
                    </div>
                  </div>
                </div> 

                <!-- Tendencias consumo eléctrico start -->
                <div class="col-12 col-md-6 col-xxl-7">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5 class="mb-1">Consumo de gas</h5>
                          <h6 class="text-body-tertiary">Versus referencia y estándar</h6>
                        </div>
                        <h4></h4>
                      </div>
                      <div class="pb-0 pt-4">
                        <div id="trend_energia"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tendencias consumo eléctrico end -->


              </div>
            </div>
 
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none">2024 ©<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-body-tertiary text-opacity-85">v1.16.0</p>
            </div>
          </div>
        </footer>
  </div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/raphael@2.3.0/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage@1.3.5/justgage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script>
<script src="{% static 'charts/cookie-plant/gas_consumption_efficiency_summary_view.js' %}"></script>



{% endblock %}