{% extends 'base_wellcome.html' %}
{% load static %}
{% block content %}

    <section class="bg-body-emphasis pb-8" id="home">
        <div class="container-small hero-header-container px-lg-7 px-xxl-3">
          <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
              <div class="position-relative p-5 p-md-7 d-lg-none">
                <div class="bg-holder" style="background-image:url({% static 'assets/img/bg/bg-23.png' %});background-size:contain;">
                </div>
                <!--/.bg-holder-->

                <div class="position-relative"><img class="w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-31.png' %}" alt="hero-header" /><img class="w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/industrial_insights_home.png' %}" alt="hero-header" /></div>
              </div>
              <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                <div class="position-relative h-100 w-100">
                  <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg"><img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/bg/bg-1-2.png' %}" alt="hero-header" /></div>
                  <div class="position-absolute h-100 top-0 d-flex align-items-center end-0"><img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" /><img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/industrial_insights_home.png' %}" alt="hero-header" /></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 position-relative">
              <h1 class="fs-3 fs-lg-2 fs-md-1 fs-lg-2 fs-xl-1 fs fw-black mb-4"><span class="text-primary me-3">Bienvenido</span>al<br />Industrial Insights</h1>
              <p class="mb-5">La solución de Business Intelligence asistida que potencia la toma de decisiones estratégicas en la automatización industrial y potencia el crecimiento del negocio, ofreciendo tableros personalizados, análisis de datos en tiempo real, una amplia variedad de gráficos interactivos y la capacidad de adquirir datos desde cualquier fuente industrial.. Inicia sesión y visita uno de nuestros demos.</p><a class="btn btn-lg btn-primary rounded-pill me-3" href="{% url 'access' %}" role="button">Sign in</a><a class="btn btn-link me-2 fs-8 p-0" href="#section-demo" role="button">Check Demos<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
            </div>
          </div>
        </div>
    </section>
    <!-- start Buttons -->
    <section id="section-demo" class="py-5 pt-xl-13 bg-body-emphasis">
      <div class="container-small px-lg-7 px-xxl-3">
            <div class="row g-0">
              <div class="col-6 col-md-3">
                <a href="{% url 'goem_home' %}" class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <h5 class="mb-3 text-body-emphasis lh-base text-center">GOEM</h5>
                </a>
              </div>
              <div class="col-6 col-md-3">
                <a href="#" class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <h5 class="mb-3 text-body-emphasis lh-base text-center">Consumo Energético</h5>
                </a>
              </div>
              <div class="col-6 col-md-3">
                <a href="#" class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <h5 class="mb-3 text-body-emphasis lh-base text-center">Empacadoras</h5>
                </a>
              </div>
              <div class="col-6 col-md-3">
                <a href="" class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <h5 class="mb-3 text-body-emphasis lh-base text-center">IO-Link</h5>
                </a>
              </div>
                <!--
              <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0"><img class="w-100" src="{% static 'assets/img/brand2/mail-bluster-1.png' %}" alt="" /></div>
              </div>
              <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent"><img class="w-100" src="{% static 'assets/img/brand2/discord.png' %}" alt="" /></div>
              </div>
              <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent"><img class="w-100" src="{% static 'assets/img/brand2/google-g.png' %}" alt="" /></div>
              </div>
              -->
            </div>
          </div>
    </section>
    <!-- end Buttons -->

    <!-- start Features ============================-->
    <section class="pt-15 pb-0 mb-15" id="feature">

    <div class="container-small px-lg-7 px-xxl-3">
      <div class="position-relative z-2">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
            <h4 class="text-primary fw-bolder mb-4">Características</h4>
            <h2 class="mb-3 text-body-emphasis lh-base">Industrial Insights: Una Poderosa <br class="d-md-none" />Herramienta de BI Asistida Para Entornos de Red OT </h2>
            <p class="mb-5">Nos enfocamos en colaborar estrechamente con nuestros clientes para identificar las preguntas de negocio clave que impulsarán su toma de decisiones. Nuestro equipo de desarrollo altamente calificado en Elico Group se encarga de diseñar tableros personalizados que brindan respuestas precisas y relevantes a través de una amplia variedad de gráficos interactivos e intuitivos.</p>
              <!-- <a class="btn btn-lg btn-outline-primary rounded-pill me-2" href="#!" role="button">Find out more<i class="fa-solid fa-angle-right ms-2"></i></a> -->
          </div>
          <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column justify-content-between">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/etl.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Proceso ETL Eficiente</h5>
                  <p class="fw-semibold lh-sm">Optimiza la extracción, transformación y carga de datos para una toma de decisiones más informada y ágil en tu industria.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/cloud.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Almacenamiento Seguro en la Nube</h5>
                  <p class="fw-semibold lh-sm">Mantén tus datos críticos resguardados y accesibles desde cualquier lugar con nuestra solución de almacenamiento en la nube.</p>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/exploratory-analysis.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Análisis y Visualización Avanzados</h5>
                  <p class="fw-semibold lh-sm">Descubre patrones, tendencias y conocimientos valiosos en tus datos a través de potentes herramientas de análisis y visualización.</p>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/global.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Acceso Universal en Tiempo Real</h5>
                  <p class="fw-semibold lh-sm">Accede a tus datos e insights en tiempo real desde cualquier lugar y dispositivo, sin importar el sistema operativo. Mantén el control donde quiera que estés.</p>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/data-mining.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Minería de Datos Inteligente</h5>
                  <p class="fw-semibold lh-sm">Descubre oportunidades ocultas y mejora la eficiencia mediante la minería de datos y el descubrimiento de patrones.</p>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/machine-learning.png' %}" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Aprendizaje Automático de Vanguardia</h5>
                  <p class="fw-semibold lh-sm">Implementa modelos de machine learning para predecir resultados y optimizar procesos de producción.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row mt-12 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
          <div class="col-lg-5"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/22_2.png' %}" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_22.png' %}" alt="" /></div>
          <div class="col-lg-6">
            <h6 class="text-primary mb-2 ls-2">SIGNAL</h6>
            <h3 class="fw-bolder mb-3">Recieve the signals instantly</h3>
            <p class="mb-4 px-md-7 px-lg-0">Phoenix makes it possible for you to quickly and effectively receive every signal. No need for drawn-out waiting.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
          <div class="col-lg-5 order-0 order-lg-1"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/23_2.png' %}" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_23.png' %}" height="394" alt="" /></div>
          <div class="col-lg-6">
            <h6 class="text-primary mb-2 ls-2">REVENUE</h6>
            <h3 class="fw-bolder mb-3">See Your Revenue Grow</h3>
            <p class="mb-4 px-md-7 px-lg-0">Grow with Phoenix. We help you with everything you might need., We make it easy and keep it simple.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
          <div class="col-lg-5"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/24_2.png' %}" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_24.png' %}" height="394" alt="" /></div>
          <div class="col-lg-6 text-center text-lg-start">
            <h6 class="text-primary mb-2 ls-2">REPORTS</h6>
            <h3 class="fw-bolder mb-3">Get Reports Ready</h3>
            <p class="mb-4 px-md-7 px-lg-0">With Phoenix, you can get ready reports on your growth analysis anytime. This dashboard also has all filters accessible according to your needs.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        -->
      </div>
    </div>
    <!-- end of .container-->

    </section>
    <!-- end Features ============================-->

{% endblock %}